[Desktop Entry]
Type=Application
Exec=conky -p10 -dbc ~/.config/conky/myconky.conf
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Conky
Name=Conky
Comment[en_GB]=
Comment=
